<!--
  Generated template for the PostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Spot</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-row>
    <ion-row>
      <!--
      *ngIf similar to a regular "if" statement...
      this one checks that the resultArr array length is between 1 & 3.. if it does then the
      html within the tags will be displayed.
     -->
      <ion-col padding *ngIf="resultArr.length >0 && resultArr.length < 4" col-8>
        <!--
        The ion grid contains html code that will create a grid with the images
        that is 2x2 (2 images per row)
        -->
          <ion-grid>
            <ion-row wrap>
              <!--
              *ngFor is like a for-each loop... "let res of resultArr" iterates
              through every item in the resultArr array from the ts file. Therefore,
              it'll iterate through all the image url's. Cool thing about *ngFor
              is that for every html element inside the tags that contain the *ngFor,
              it'll create the html elements for each element in the array.
              So every url will have a "<ion-thumbnail (press)="openDeleteAction(res,i)>"
              tag with an img tag inside of that.
             -->
              <ion-col *ngFor= "let res of resultArr; let i = index;" col-6>
                  <ion-thumbnail (press) ="openDeleteAction(res, i)">
                    <img *ngIf="res" [src]="res" alt="" style="max-height: 100px;">
                  </ion-thumbnail>
              </ion-col>
            </ion-row>
            <!-- This definitely can change -->
            <ion-row justify-content-center>
              <p>Press and hold to remove a photo </p>
            </ion-row>
          </ion-grid>
      </ion-col>
      <!--
      *ngIf similar to a regular "if" statement...
      this one checks that the resultArr array length = 4.. if it does then the
      html within the tags will be displayed.
      "offset-2" basically means move this col to the right by 2 columns.
     -->
      <ion-col *ngIf="resultArr.length == 4" col-8 offset-2>
        <!--
        The ion grid contains html code that will create a grid with the images
        that is 2x2 (2 images per row)
        -->
          <ion-grid>
            <ion-row wrap>
              <!--
              *ngFor is like a for-each loop... "let res of resultArr" iterates
              through every item in the resultArr array from the ts file. Therefore,
              it'll iterate through all the image url's. Cool thing about *ngFor
              is that for every html element inside the tags that contain the *ngFor,
              it'll create the html elements for each element in the array.
              So every url will have a "<ion-thumbnail (press)="openDeleteAction(res,i)>"
              tag with an img tag inside of that.
             -->
              <ion-col *ngFor= "let res of resultArr; let i = index;" col-6>
                  <ion-thumbnail (press) ="openDeleteAction(res, i)">
                    <img *ngIf="res" [src]="res" alt="" style="max-height: 100px;">
                  </ion-thumbnail>
              </ion-col>
            </ion-row>
            <!-- This definitely can change -->
            <ion-row justify-content-center>
              <p>Press and hold to remove a photo.</p>
            </ion-row>
          </ion-grid>
      </ion-col>
      <!--
      *ngIf similar to a regular "if" statement...
      this one checks that the resultArr array length = 0.. if it does then the
      html within the tags will be displayed.

      "offset-4" basically means move this col to the right by 4 columns.
      "offset-8" would mean move this col to the right by 8 columns.
      I use the offset to "center" the icons before images are taken or selected.
      The center effect could be done a different way.
     -->
      <ion-col offset-4 *ngIf="resultArr.length == 0">
        <ion-row>
          <ion-col>
            <button ion-button large clear style=" height: 100px;" strong (tap) = "openPhotoLibrary()">
              <ion-icon style="font-size: 3em;" name="image" color ="primary"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button large clear style=" height: 100px;" strong (tap) = "openCamera()">
              <ion-icon style="font-size: 3em;" name="camera" color ="primary"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <!--
      *ngIf similar to a regular "if" statement...
      this one checks that the resultArr array length between 1 & 3.. if it does then the
      html within the tags will be displayed.
     -->
      <ion-col *ngIf="resultArr.length >0 && resultArr.length < 4">
        <button ion-button large clear style="height: 100px;" strong (tap) = "openPhotoLibrary()">
          <ion-icon style="font-size: 3em;" name="image" color ="primary"></ion-icon>
        </button>
        <button ion-button large clear style="height: 100px;" strong (tap) = "openCamera()">
          <ion-icon style="font-size: 3em;" name="camera" color ="primary"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-row>
  <ion-list>
    <ion-item>
      <ion-label floating>Describe your spot</ion-label>
      <ion-textarea [(ngModel)]="spotDescription"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Select types for the spot</ion-label>
      <ion-select [(ngModel)]="skateTypes" multiple="true">
        <ion-option value ="stairs">Stairs</ion-option>
        <ion-option value ="rails">Rails</ion-option>
        <ion-option value ="ledge">Ledge</ion-option>
        <ion-option value ="bank">Bank</ion-option>
        <ion-option value ="diy">DIY</ion-option>
        <ion-option value ="misc">Misc</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!currentLocationBoolean">
      <ion-label stacked>What's the address?</ion-label>
      <ion-input placeholder= "address, city, state"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label>Use your current location?</ion-label>
      <ion-checkbox [(ngModel)]="currentLocationBoolean" (ionChange)="grabAddress()"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="currentLocationBoolean">
      <p> Your address is: {{address}} </p>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label>What's the risk level? (0 = none)</ion-label>
      <ion-range min="0" max="10" pin="true" [(ngModel)]="riskLvl">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>10</ion-label>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label>Is there good lighting at night?</ion-label>
      <ion-select [(ngModel)]="lighting">
        <ion-option value ="yes">Yes</ion-option>
        <ion-option value ="no">No</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-row justify-content-center>
    <button ion-button large strong (tap) = "uploadSpot()">
      Create Spot
    </button>
  </ion-row>
</ion-content>
