<!-- Start header -->
<ion-header no-border>
  <ion-navbar color="primary">
    <ion-buttons end right>
      <button id = "filter" color="white" ion-button icon-right>
        Filter
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title (tap)="scrollToTop()">SkateHub</ion-title>

    <ion-buttons start left>
      <button color="white" ion-button icon-only>
        <ion-icon name="ios-chatbubbles"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<!-- End header -->


<ion-content>
  <!-- Start State filter -->
  <ion-row justify-content-center>
    <ion-col offset-6 col-12>
      <ion-item no-lines>
        <ion-select class ="state-select border-bottom-green" (ionChange) ="filterByState()" no-padding padding-top [(ngModel)]="state" placeholder = "View By State">
          <ion-option value="all">All</ion-option>
          <ion-option value="NC">North Carolina</ion-option>
          <ion-option value="SC">South Carolina</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- End state filter -->

  <!-- If no spots have been posted - START -->
  <ion-row *ngIf="noSpots" style="height: 50vh;" justify-content-center>
    <ion-col align-self-center offset-4>
      <h1 style="color: #9E9E9E;">No spots</h1>
    </ion-col>
  </ion-row>
  <!-- If no spots have been posted - END -->

  <!-- If spots have been posted - START -->
  <ion-list *ngIf="spots.length > 0">
    <ion-row *ngFor="let spot of spots" justify-content-center padding-bottom>
      <!-- Top header of post -->
      <ion-row style="width: 100%;">
        <ion-col>
          <ion-item no-lines>
            <!-- We'll need a function that pushes a profile page if the avatar is tapped (tap) = "viewProfile" -->
             <ion-avatar class ="border-green" item-start>
              <img [src]="spot.avatar" alt = "">
              <!-- style="border-radius: 50%; width: 50px; height: 50px;" -->
             </ion-avatar>
            <h3><strong>{{spot.username}}</strong></h3>
            <ion-icon name = "more" item-end (tap) = "openDetailedAction(spot)"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- Top header of post END -->

      <!-- 1st img in post images array - START -->
      <img [src] = "spot.images[0]" style="height: 385px; width: 100%; display: block;">
      <!-- 1st img in post images array - END -->

      <!-- Types and skate button - START -->
      <ion-row style="width: 100%;" no-wrap>
          <!-- Type grid - START -->
        <ion-col align-self-center text-center>
          <ion-grid>
            <ion-row no-padding no-margin>
              <ion-col>
                <strong>
                  <p no-padding no-margin> Type(s)</p>
                </strong>
              </ion-col>
            </ion-row>
            <ion-row wrap>
              <ion-col *ngFor= "let type of spot.types; let x = index;" col-6>
                  <ng-container *ngIf="x < 4">
                    <img [src] = "type" style="height: 40px;">
                  </ng-container>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <!-- Type grid - END -->
        <ion-col col-4>
        </ion-col>
        <!-- Skate button - START -->
        <ion-col >
          <button color="primary" ion-button clear icon-left strong (tap)="openNavigation(spot)">
            <ion-icon name="pin"></ion-icon>
            Skate
          </button>
        </ion-col>
        <!-- Skate button - END -->
      </ion-row>
      <!-- Types and skate button - END -->
      <!-- View Comments - START -->
      <ion-row no-padding>
        <ion-col pull-9>
          <strong>
            <!--
             If there are comments use an array and then the length of that array.
             Would need to add tap functionality to display the comments.
           -->
            <p> View comments (0)</p>
          </strong>
        </ion-col>
      </ion-row>
      <!-- View Comments - END -->
    </ion-row>
  </ion-list>
  <!-- If spots have been posted - END -->

</ion-content>
