<!-- Start header -->
<ion-header no-border>
  <ion-navbar color="primary">
    <ion-buttons end right (tap)="presentPopover($event)">
      <button id = "filter" color="white" ion-button icon-only>
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title id = "SkateHub"(tap)="scrollToTop()">
    SkateHub
    </ion-title>

    <ion-buttons start left (tap) = "openInbox()">
      <button color="white" ion-button icon-only>
        <ion-icon id = "bubbles" name="ios-chatbubbles"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<!-- End header -->


<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Start State filter -->
  <ion-row justify-content-center>
    <ion-col offset-6 col-12>
      <ion-item no-lines>
        <ion-select class ="state-select border-bottom-green" (ionChange) ="filterByState()" no-padding padding-top [(ngModel)]="state" placeholder = "View By State">
          <ion-option value="all">All</ion-option>
          <ion-option value="NC">North Carolina</ion-option>
          <ion-option value="SC">South Carolina</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- End state filter -->

  <!-- If no spots have been posted - START -->
  <ion-row *ngIf="noSpots" style="height: 50vh;" justify-content-center>
    <ion-col align-self-center offset-4>
      <h1 style="color: #c0c0c0;">No spots</h1>
    </ion-col>
  </ion-row>
  <!-- If no spots have been posted - END -->

  <!-- If spots have been posted - START -->
  <ion-list *ngIf="spots.length > 0">
    <ion-card no-margin *ngFor="let spot of spots" style="width: 100%; padding-bottom: 2em;">
      <ion-item>
        <ion-avatar item-start (tap)="avatarClick(spot)">
          <img [src]="spot.avatar">
        </ion-avatar>
        <p>{{spot.username}}</p>
        <h2>{{spot.name}}</h2>
        <ion-icon name="more" color="secondary" item-end (tap)="openDetailedAction(spot)"></ion-icon>
      </ion-item>

      <ion-slides pager>
        <ion-slide *ngFor="let img of spot.images">
          <img [src]="img" style="max-height: 450px; width: 100%;">
        </ion-slide>
      </ion-slides>



      <!-- <ion-card-content>
        <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
      </ion-card-content> -->

      <ion-row>
        <ion-item>
          <button item-start ion-button color="darkLHue" icon-left clear small (tap)="openComments(spot)">
            <ion-icon name="chatboxes"></ion-icon>
            <div>{{spot.comment.length}}</div>
          </button>
          <ion-row justify-content-center>
            <ng-container *ngFor="let type of spot.types; let i = index;">
              <img [src]="type" *ngIf="i<5" style="width: 2em; height: 2em; padding: 0 3px 0 3px;">
            </ng-container>
          </ion-row>
          <button color="secondary" item-end ion-button clear icon-left strong (tap)="openNavigation(spot)">
            <ion-icon name="pin"></ion-icon>
            Skate
          </button>
        </ion-item>

      </ion-row>

    </ion-card>
  </ion-list>
  <!-- If spots have been posted - END -->

</ion-content>
