page-home {
  #filter {
    font-size: 1.2em;
    text-transform: none;
  }
  #SkateHub {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  #bubbles {

    //text-align: center;
  }
  .swiper-pagination-bullet {
    background: #d7e5f9;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: map-get($colors, primary);
  }
  .avatar-border {
    border-radius: 12px;
    width: 80px;
    height: 80px;
    border: 2px solid #ffffff;
  }
  ion-card {
    box-shadow: none !important;
  }
  ion-card:first-of-type {
    margin-top: 2em;
  }
  // .border-secondary {
  //   border-color: map-get($colors, secondary);
  //   border-style: solid;
  //   border-width: medium;
  //   border-radius: 50%;
  // }
  .border-bottom-green {
    border-bottom: .5px solid map-get($colors, primary);
  }
  .state-select .select-placeholder {
    font-size: 1.2em;
  }
  .state-select .select-text {
    font-size: 1.2em;
  }
  .state-select .select-icon {
    width: 20px !important;
    height: 25px !important;
  }
  ion-item {
    transition: 0.2s linear;
  }
}
