<ion-content>
  <!-- <ion-row justify-content-center class="top-spacing">
      <ion-avatar *ngIf="user" class= "profile-shift">
        <img [src]="imagePath" (tap)="show(imagePath)" style="border-radius: 50%; width: 100px; height: 100px; border: 10px solid #FF8F00;">
      </ion-avatar>
      <ion-icon ios="md-create" color="primary" *ngIf="imageChosen == 0" (tap)="chooseImage()" style="font-size: 25px;"></ion-icon>
      <ion-icon name="remove-circle" color="danger" *ngIf="imageChosen == 1" (tap)="clear()" style="font-size: 30px;"></ion-icon>
  </ion-row> -->
<!-- ^^^^ above comments are going to be necessary in the future maybe - DON'T DELETE :) -->

  <!-- Green background - START -->
  <div class ="square-background">
  </div>
  <!-- Green background - END -->
  <!-- User avatar and info - START -->
  <ion-row justify-content-center class="top-spacing">
      <ion-avatar *ngIf="user" class= "profile-shift">
        <img [src]="user.avatar" class = "avatar-border">
      </ion-avatar>
      <ion-icon name="create" mode="android" ios="md-create" style="font-size: 25px; position: relative; color: #ffffff;"></ion-icon>
      <!-- <ion-icon name="remove-circle" color="danger" style="font-size: 30px;"></ion-icon> -->
  </ion-row>
    <h4 *ngIf="user" no-margin text-center ion-text color = "white" style = "position: relative;">{{user.username}}</h4>
    <p *ngIf="user && (user.stance)" text-center ion-text color = "white" (tap)= "changeStance()" no-margin style = "position: relative;"> Stance: {{user.stance}} </p>
    <p *ngIf="user && (user.stance == '' || !user.stance)" text-center ion-text color = "white" (tap)= "changeStance()" no-margin style = "position: relative;"> Set stance! </p>


<!-- User avatar and info - END -->

<!-- Bunch of buttons - START -->
  <button class = "top-spacing-buttons" ion-button icon-left block strong (tap) = "mySpotsPage()" color = "grey">
    <ion-icon name = "archive"></ion-icon>
    My Spots
    <!-- <span style="margin-left: 50%;"></span> -->
  </button>
  <button ion-button icon-left block strong (tap) = "friendsPage()" color = "grey">
    <ion-icon name = "ios-people"></ion-icon>
    Friends
    <!-- <ion-badge color="white" style="margin-left: 50%;">25</ion-badge> -->
  </button>
  <button ion-button icon-left block strong (tap) = "invitesPage()" color = "grey">
    <ion-icon name = "paper-plane"></ion-icon>
    Invites
    <!-- <ion-badge color="white" style="margin-left: 50%;">25</ion-badge> -->
  </button>
  <button ion-button icon-left block strong (tap) = "savedSpotsPage()" color = "grey">
    <ion-icon name = "checkmark-circle-outline"></ion-icon>
    Saved Spots
  </button>
  <button ion-button icon-left block strong (tap) = "settingsPage()" color = "grey">
    <ion-icon name = "settings"></ion-icon>
    Settings
  </button>
  <!-- Bunch of buttons - END -->
  <!-- Logout button - START -->
  <button ion-button icon-left block strong style="background-color: transparent; color: #f53d3d;" (tap) = "logout()" color = "danger">
    <ion-icon name = "exit"></ion-icon>
    Logout
  </button>
  <!-- Logout button - END -->
</ion-content>
