page-login {
  div.scroll-content {
    overflow-y: hidden !important;
  }
  ion-content {
    background-image: url('../assets/imgs/background.jpg');
    -webkit-background-image: url('../assets/imgs/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  }
  div.loginform {
    display: flex;
   justify-content: center; /* center horizontally */
   align-items: center;
   height: 100%;
 }
 ion-item {
   border-radius: 10px !important;
   height: 45px;
   width: 100%;
 }
 div.input-wrapper {
   margin-bottom: 15px;
 }

}
