<!--
  Generated template for the EditPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Your Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center>
    <!-- Basic input items  -->
      <ion-item>
        <ion-label floating color ="primary">Enter your current password</ion-label>
        <ion-input type="password" [(ngModel)]="currPassword" name="currPassword" (ionChange)="checkCurrentPassword()"></ion-input>
      </ion-item>

      <!-- If the correct boolean from the .ts file is true, display these input
      items -->
      <ion-item *ngIf="correct">
        <ion-label floating color ="primary">Enter your new password</ion-label>
        <ion-input type="password" [(ngModel)]="newPassword" name="newPassword"></ion-input>
      </ion-item>
      <ion-item *ngIf="correct">
        <ion-label floating color ="primary">Enter your new password again</ion-label>
        <ion-input type="password" [(ngModel)]="matchNewPassword" name="matchNewPassword" (ionChange)="compareNewPassword()"></ion-input>
      </ion-item>

      <!-- Using the [disabled] attribute, we only allow the save password btn
      to show if the "newPassMatch" is false. If the button is tapped, call the
      savePassword function that will take care of saving the password
      -->
      <ion-row padding justify-content-center>
        <button ion-button block strong [disabled]="newPassMatch" (tap) = "savePassword()">
          Save Password
        </button>
      </ion-row>
  </div>
</ion-content>
