page-settings {
  .top-spacing {
    top: 6em;
  }
  .top-spacing-buttons {
    margin-top: 15%;
  }
  .profile-shift {
    margin-left: 2em;
    position: relative;
  }
  .profile-left {
    margin-left: 2em;
    // position: relative;
  }
  .avatar-border {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid #ffffff;
  }
  // .square-background {
  //   background-color: map-get($colors, lightBHue);
  //   position: absolute;
  //   width: 100%;
  //   height: 8em;
  //   // opacity: 0.5;
  // }
  .ion-grid{
    margin-top: 20%;
    height: 55%;
    width: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .ion-row{
    height:100%;
  }
  #headerCam {
    position: relative;
    left: 8em;
    top: 1em;
  }
  #profileCam {
    position: relative;
    top: 4em;
    left: .75em;
  }

}
