<!-- Header displaying the name of the skate spot -->
<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title *ngIf = "spot" >{{spot.name}}</ion-title>
  </ion-navbar >
</ion-header>

<!-- End of header -->

<ion-content padding>
  <!-- Top part of the skate spot (user profile pic and their username, either a trash can icon or "more" icon)  -->
  <ion-item no-lines>
    <!-- We'll need a function that pushes a profile page if the avatar is tapped (tap) = "viewProfile" -->
     <ion-avatar class ="border-green" item-start *ngIf = "spot">
      <img [src]="spot.avatar" alt = "">
     </ion-avatar>
     <h3 *ngIf = "spot"><strong>{{spot.username}}</strong></h3>
     <ion-icon *ngIf = "!isUser" name = "more" item-end (tap) = "openAction()"></ion-icon>
     <ion-icon *ngIf = "isUser" name = "trash" item-end color = "danger"></ion-icon>
  </ion-item>
<!-- End of top part of skate spot -->

<!-- Img slides -->
  <ion-row>
    <ion-col col-12>
      <ion-slides *ngIf = "spot">
        <ion-slide *ngFor="let pic of spot.images">
          <img style = "height: 385px; width: auto;" [src] = "pic">
        </ion-slide>
      </ion-slides>
    </ion-col>
</ion-row>

<!-- End Img slides -->

<!-- Skate spot types -->
<ion-row style="width: 100%;" no-wrap>
  <ion-col align-self-center text-center>
    <!-- <p *ngFor="let type of spot.types; let x = index;">
      <ng-container *ngIf="x < 4">{{type}}</ng-container>
    </p> -->
      <ion-row wrap *ngIf = "spot">
        <ion-col *ngFor= "let type of spot.types;" col-4>
            <img [src] = "type" style="height: 40px;">
        </ion-col>
      </ion-row>
  </ion-col>
</ion-row>

<!-- End skate spot types -->

<!-- Skate spot Description -->
<h3>Description</h3>
<ion-row *ngIf = "spot">
  <ion-col *ngIf = "!spot.description || spot.description == '' " >
    No Description Provided
  </ion-col>
  <ion-col *ngIf = "spot.description != '' " >
    {{spot.description}}
  </ion-col>
</ion-row>

<!-- End skate spot description -->

<ion-row *ngIf = "spot">
  <ion-icon style = "font-size: 5em;" *ngIf = "spot.lightingLevel == 'yes'" name = "ios-sunny-outline">
  </ion-icon>
  <ion-icon style = "font-size: 5em;" *ngIf = "spot.lightingLevel == 'no'" name = "sunny">
  </ion-icon>
</ion-row>


<ion-row justify-content-center>
  <button color="primary" ion-button icon-left strong block (tap)="openNavigation()">
    <ion-icon name="pin"></ion-icon>
    Let's Skate
  </button>
</ion-row>

<!--TODO RISK LEVEL  -->
<ion-row justify-content-center>
   
    <ion-item>
    <ion-range min="0" max="10" [(ngModel)]="rating" color="secondary">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>10</ion-label>
    </ion-range>
    </ion-item>    
	<!--
	  Created another button for less confusion and so that the toasts wouldn't stack
	  on top of each other if we were saving the comment and the rating, when
	  one button was clicked.
	-->
  <button ion-button full color="#1180a3" (click)="saveRating(); rating=0;">Save Rating</button> 
    <ion-item>
      <ion-label floating>Comment</ion-label>
      <ion-input [(ngModel)]="comment" type="text"></ion-input>
    </ion-item>

	<!--  (click)="saveButton(saturation); saturation=0; description =''" -->
  <button ion-button full color="#1180a3" (click)="saveComment(); comment='';">Save Comment</button> 
  <button ion-button full color="danger" (click)="showPrompt()">Report Spot</button>
</ion-row>
</ion-content>
