<!-- Header displaying the name of the skate spot -->
<ion-header no-border>
  <ion-navbar color="white">
    <!-- <ion-title *ngIf = "spot" >{{spot.name}}</ion-title> -->
  </ion-navbar >
</ion-header>

<!-- End of header -->

<ion-content>
  <ion-card no-margin *ngIf="spot" style="width: 100%; padding-bottom: 2em;">
    <ion-item>
      <ion-avatar item-start (tap)="avatarClick(spot)">
        <img [src]="spot.avatar">
      </ion-avatar>
      <p>{{spot.username}}</p>
      <h2>{{spot.name}}</h2>
      <ion-icon *ngIf="!isUser" name="more" color="secondary" item-end (tap)="openDetailedAction(spot)"></ion-icon>
      <ion-icon *ngIf="isUser" name="trash" color="danger" item-end (tap)="openDetailedAction(spot)"></ion-icon>
    </ion-item>

    <ion-slides pager>
      <ion-slide *ngFor="let img of spot.images">
        <img [src]="img" style="max-height: 450px; width: 100%;">
      </ion-slide>
    </ion-slides>



    <!-- <ion-card-content>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content> -->

    <ion-row justify-content-center padding>
      <!-- <ion-item> -->
        <!-- <button item-start ion-button color="darkLHue" icon-left clear small (tap)="openComments(spot)">
          <ion-icon name="chatboxes"></ion-icon>
          <div>{{spot.comment.length}}</div>
        </button> -->
        <!-- <ion-row justify-content-center> -->
          <ng-container *ngFor="let type of spot.types;">
            <img [src]="type" style="width: 3em; height: 3em; padding: 0 3px 0 3px;">
          </ng-container>
        <!-- </ion-row> -->
        <!-- <button color="secondary" item-end ion-button clear icon-left strong (tap)="openNavigation(spot)">
          <ion-icon name="pin"></ion-icon>
          Skate
        </button> -->
      <!-- </ion-item> -->

    </ion-row>
    <ion-item-divider>
      <p ion-text text-wrap color="dark" style="font-size: 1em;"> {{spot.description}} </p>
    </ion-item-divider>
    <ion-grid padding-left>
      <!-- <ion-row>
        <ion-col col-12>
          <button ion-button color="darkLHue" icon-left clear small (tap)="openComments(spot)">
            <ion-icon name="chatboxes"></ion-icon>
            <div>{{spot.comment.length}}</div>
          </button>
        </ion-col>
      </ion-row> -->
      <ion-row *ngFor="let comment of commentArr; let i = index;">
        <ion-col no-padding col-12 *ngIf="i<2">
          <span><strong>{{comment.username}}</strong></span> <span>{{comment.comment[0]}}</span>
        </ion-col>
      </ion-row>
      <p style="padding-top: .5em" *ngIf="commentArr.length >=2" (tap)="openComments(spot)">View all {{commentArr.length-2}} comments</p>
      <p padding-top style="font-size: .75em; padding-top: .5em">Date Posted</p>
    </ion-grid>

  </ion-card>

<!--TODO RISK LEVEL  -->
<ion-row justify-content-center>

    <!-- <ion-item>
    <ion-range min="0" max="10" [(ngModel)]="rating" color="secondary">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>10</ion-label>
    </ion-range>
    </ion-item> -->
	<!--
	  Created another button for less confusion and so that the toasts wouldn't stack
	  on top of each other if we were saving the comment and the rating, when
	  one button was clicked.
	-->

  <!-- <button ion-button full color="#1180a3" (click)="saveRating(); rating=0;">Save Rating</button> -->
    <!-- <ion-item>
      <ion-label floating>Comment</ion-label>
      <ion-input [(ngModel)]="comment" type="text"></ion-input>
    </ion-item> -->

	<!--  (click)="saveButton(saturation); saturation=0; description =''" -->
    <button ion-button full color="secondary" (click)="openNavigation(spot)">Let's Skate</button>
  <!-- <button ion-button full color="danger" (click)="showPrompt()">Report Spot</button> -->
  </ion-row>
</ion-content>
