<!--
  Generated template for the DetailedSpotPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title *ngIf = "spot" style="border: 1px solid #ccc" >{{spot.name}}</ion-title>
  </ion-navbar >
</ion-header>


<ion-content padding>
  <ion-item no-lines>
    <!-- We'll need a function that pushes a profile page if the avatar is tapped (tap) = "viewProfile" -->
     <ion-avatar class ="border-green" item-start *ngIf = "spot">
      <img [src]="spot.avatar" alt = "">
      <!-- style="border-radius: 50%; width: 50px; height: 50px;" -->
     </ion-avatar>
     <h3 *ngIf = "spot"><strong>{{spot.username}}</strong></h3>
     <ion-icon *ngIf = "!isUser" name = "more" item-end (tap) = "openAction()"></ion-icon>
     <ion-icon *ngIf = "isUser" name = "trash" item-end color = "danger"></ion-icon>



  </ion-item>

  <ion-row>
    <ion-col col-12>
  <ion-slides *ngIf = "spot">
  <ion-slide *ngFor="let pic of spot.images">
    <img style = "max-height: 300px; width: auto;" [src] = "pic">
  </ion-slide>
</ion-slides>
</ion-col>
</ion-row>

<ion-row style="width: 100%;" no-wrap>
  <ion-col align-self-center text-center>
    <!-- <p *ngFor="let type of spot.types; let x = index;">
      <ng-container *ngIf="x < 4">{{type}}</ng-container>
    </p> -->
      <ion-row wrap *ngIf = "spot">
        <ion-col *ngFor= "let type of spot.types;" col-4>
            <ng-container >{{type}}</ng-container>
        </ion-col>
      </ion-row>
  </ion-col>
</ion-row>

<h3>Description</h3>
<ion-row *ngIf = "spot">
  <ion-col *ngIf = "!spot.desciption || spot.desciption == '' " >
    No Description Provided
  </ion-col>
  <ion-col *ngIf = "spot.desciption != '' " >
    {{spot.desciption}}
  </ion-col>
</ion-row>


<ion-row *ngIf = "spot">
  <ion-icon style = "font-size: 5em;" *ngIf = "spot.lightingLevel == 'yes'" name = "sunny-outline">
  </ion-icon>
  <ion-icon style = "font-size: 5em;" *ngIf = "spot.lightingLevel == 'no'" name = "sunny">
  </ion-icon>
</ion-row>


<ion-row justify-content-center>
  <button color="primary" ion-button icon-left strong block (tap)="openNavigation()">
    <ion-icon name="pin"></ion-icon>
    Let's Skate
  </button>
</ion-row>

<!--TODO RISK LEVEL  -->

</ion-content>
