page-detailed-spot {
  .border-green {
    border-color: map-get($colors, primary);
    border-style: solid;
    border-width: medium;
    border-radius: 50%;
  }
  ion-card {
    box-shadow: none !important;
  }
  ul {
    padding: 0px;

    &.rating li {
      padding: 5px 10px !important;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 20px;
      }
    }
  }
}
