page-navigate {
  #map {
    height: 100%;
    width: 100%;

    }
  html, body {
    height: 100%;
    width: 100%;
    background-color: black;
  }

  #maptitle {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #logo{
    float: right;
  }
}

