<!-- Header start -->
<ion-header no-border>
  <ion-navbar color="primary">
    <form (ngSubmit) = "filter();">
      <ion-searchbar
     [(ngModel)]="searchTerm"
     name = "searchTerm"
     type = "search"
     placeholder="Search SkateHub"
     (ionInput)="filter(); hide = true; hideSearch = false;">
     </ion-searchbar>
    </form>
  </ion-navbar>
</ion-header>
<!-- Header end -->

<ion-content>
  <!-- User list if searchTerm matches - START -->
  <ion-list *ngIf="!start && userResultArr.length > 0 && !hideSearch">
    <ion-list-header>People</ion-list-header>
    <ion-item *ngFor= "let user of userResultArr" detail-push>
      <ion-avatar item-start>
        <img [src]="user.avatar">
      </ion-avatar>
      <h2>{{user.username}}</h2>
    </ion-item>
  </ion-list>
  <!-- User list if searchTerm matches - END -->
  <!-- Item divider for styling -->
  <ion-item-divider *ngIf="!start && !hideSearch"></ion-item-divider>
  <!-- Item divider - END -->
  <!-- Spot list if searchTerm matches - START -->
  <ion-list *ngIf="!start && spotsResultArr.length > 0 && !hideSearch">
    <ion-list-header>Skate Spots</ion-list-header>
    <ion-item *ngFor= "let spot of spotsResultArr" detail-push>
      <ion-thumbnail item-start>
        <img [src]="spot.images[0]">
      </ion-thumbnail>
      <h2>{{spot.name}}</h2>
    </ion-item>
  </ion-list>
  <!-- Spot list if searchTerm matches - END -->
</ion-content>
